/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.text-body {
  font-size: 2rem;
}

input::-moz-placeholder {
  color: gray;
}

input:-ms-input-placeholder {
  color: gray;
}

input::placeholder {
  color: gray;
}
