@tailwind base;
@tailwind components;
@tailwind utilities;

/* group utilities */
.btn {
  @apply px-4 py-1 border rounded-full text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white hover:border-transparent dark:focus:ring-offset-gray-800 dark:focus:border-transparent;
  @apply p-2;
}

.btn-purple {
  @apply border-purple-200 text-purple-600 hover:bg-purple-600 focus:ring-purple-600 dark:text-purple-400;
}

.btn-green {
  @apply border-green-200 text-green-600 hover:bg-green-600 focus:ring-green-600 dark:text-green-400;
}
